.flex{
	display: flex;
}
.flex-inline{
	display: inline-flex;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
}
.row-reverse{
	flex-direction: row-reverse;
}
.col{
	flex:1;
}
.aic{
	align-items: center;
}
.aie{
	align-items: flex-end;
}
.ais{
	align-items: flex-start;
}
.jcc{
	justify-content: center;
}
.jce{
	justify-content: flex-end;
}
.jcs{
	justify-content: flex-start;
}
.jcsb{
	justify-content: space-between;
}